version: '3.8'

services:
  redis:
    image: redis:8.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: >
      redis-server
      --appendonly yes
    volumes:
      - $HOME/docker/redis/8.2-alpine/data:/data
    restart: unless-stopped
