export CLICKHOUSE_HOST=localhost
export CLICKHOUSE_PORT=9000
export CLICKHOUSE_ENDPOINTS="${CLICKHOUSE_HOST}:${CLICKHOUSE_PORT}"
export CLICKHOUSE_USERNAME=admin
export CLICKHOUSE_PASSWORD=password
export CLICKHOUSE_DATABASE=ch
export CLICKHOUSE_SSL=false